body {
  background: lightgreen;
}

h1 {
  display: block;
  margin: 3rem auto;
  width: 100vw;
  text-align: center;
  color: darkgreen;
}

.frogsCntr {
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 10vw;
  height: 10vw;
}

.mainFrogCntr {
  width: 100%;
  /* background: red; */
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
