body {
  background: lightgreen;
  background-image: url("./imgs/frogBG.jpeg");
  animation: moveBG 50s linear infinite;
}

@keyframes moveBG {
  from {
    background-position: 0 0%;
  }
  to {
    background-position: 0 5072%;
  }
}

h1 {
  text-align: center;
  font-size: 5vw;
}

.title {
  display: block;
  margin: 3rem auto;
  box-shadow: 3px 3px 10px black;
  background: rgba(28, 58, 36, 0.671);
  width: 50vw;
  border-radius: 30px;
}

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    rgb(172, 243, 124) 20%,
    rgb(137, 255, 126) 40%,
    rgb(0, 255, 115) 60%,
    rgb(79, 164, 56) 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 3px 3px 10px black; */
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.frogsCntr {
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 10px black;
}

.mainFrogCntr {
  width: 100%;
  /* background: red; */
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
