@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyCntr {
  position: relative;
}

.image1-pos {
  position: absolute;
  top: 220px;
  left: 14vw;
  width: 100px;
}

.image2-pos {
  position: absolute;
  top: 220px;
  left: 23vw;
  width: 100px;
}

.image3-pos {
  position: absolute;
  top: 170px;
  right: 9vw;
  width: 200px;
}

.image4-pos {
  position: absolute;
  top: 320px;
  right: 8vw;
  width: 90px;
}

.image5-pos {
  position: absolute;
  bottom: -10px;
  right: 52vw;
  width: 100px;
}

.image6-pos {
  position: absolute;
  top: -20px;
  left: 34vw;
  width: 100px;
}
